{% extends 'base.html' %}

{% block title%}index page{% endblock %}

{% block content %}
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">players list</th>
        <th scope="col">join</th>
      </tr>
    </thead>
    <tbody>
      {% for table in tables %}
        <tr>
          <th scope="row">{{ table.id }}</th>
          <td>
            {% for player in table.player_ids %}
              ({{ player.username }}, {{ player.chip_count }})
            {% endfor %}
          </td>
          <td><a href="{{ url_for('join_table', table_id=table.id) }}">join</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}