{% extends 'base.html' %}

{% block title %}table{% endblock %}

{% block content %}

{% if player in table.players %}
    <a href="{{ url_for('leave_table') }}">Leave table</a>
{% endif %}

<div class="container">
    {% for player in table.players %}
        <div  style="display: inline-grid; background-color: yellow;">
            <svg height="100" width="100">
                <circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="white" />
            </svg>
            <h5>{{ player.username }}</h5>
            <h5>{{ player.chip_count }}</h5>
        </div>
    {% endfor %}

    <h1>Pot: <span id="pot">{{ pot }}</span></h1>
    <button id="btn">click</button>
</div>

<div class="container">
    <button type="button" class="btn btn-dark">Fold</button>
    <button type="button" class="btn btn-dark" hidden>Check</button>
    <button type="button" class="btn btn-dark">Call <span id="call_size">20</span></button>
    <button type="button" class="btn btn-dark">Raise <span id="raise_range">1..100</span></button>
    <input type="number" name="weight" id="raise_size" value="1" min="1" max="100">
</div>
{% endblock %}

{% block javascript %}
$('#btn').on('click', function(event) {
  bet = 20;
  newPot = parseInt($('#pot').text()) + bet;
  $('#pot').text(newPot);
});
{% endblock %}